.card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.text {
    padding: 10px;
}

.tag {
    padding: 4px;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}